---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Us"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/cover.png"
>
  <p>
   This is the official website of the 23rd batch of the Computer Science and Engineering Department at the University of Moratuwa. 
  </p></Layout
>
