---
import AboutLayout from "../layouts/AboutLayout.astro";
---

<AboutLayout
  title="About CSE 23"
  description="A short tale about me"
  heroImage="/images/group.webp"
  pubDate={new Date()}>
<p>👉 Explore our journey here: <a class="text-indigo-500 dark:text-indigo-500" href="https://cse23.org"> https://cse23.org</a></p>
<p>Where code meets creativity, and every pixel has a purpose._✨</p>
<p>It’s with great pride (and a little bit of playful excitement!) that we unveil the official digital home of the 23rd batch of Computer Science & Engineering undergraduates at the University of Moratuwa.</p>
<p>Built with precision, creativity, and countless lines of code, this website is a reflection of our journey - from sleepless nights and debug marathons to shared milestones and unforgettable memories.</p>
<p>
Whether you're here to explore our achievements, meet the faces behind the batch, or simply curious about what makes CSE 23 unique - you’re officially invited to take a scroll through our story.
</p>
 







</AboutLayout>
