---
import Layout from "../layouts/BlogPost.astro";
import { DraggableCardDemo } from "../components/DraggableCardDemo";
import Header from "../components/Header.astro";
---

<Header />
<!-- Gallery section -->
<div>
    <DraggableCardDemo client:only />
</div>
